body {
  background: antiquewhite;
  color: lightcoral;
}

#messenger {      
    display: block;
    font-family: monospace;
    font-size: 50px;
    white-space: nowrap;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.9);
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

p {
    text-align: justify;
}